footer
    .thanks
        .thanks__item.h1 OBRIGADO!
            .girl.
                !{locals.girl}

    .bottom-footer
        .bottom-footer__inner
            .bottom-footer__inner__item--social
                a.github(href="https://github.com/italoiung" target="_blank").
                    !{locals.github}
                a.linkedin(href="https://www.linkedin.com/in/%C3%ADtalo-vianna-iung/" target="_blank").
                    !{locals.linkedin}
                a.whatsapp(href="https://wa.me/5551995143450?text=Oi!%20Estou%20interessado%20em%20fazer%20um%20projeto%20contigo%20:D" target="_blank").
                    !{locals.whatsapp}
            p.bottom-footer__inner__item--copyright.
                Copyright © !{locals.year} por Ítalo Iung
script
    include ../../compiled/js/all.js